html {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
}

.parallax {
    min-height: 100vh;
    height: 100%;    
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.parallax-home {
    background-image: url("../assets/photos/architects-plans.jpg");
}

.parallax-contact {
    background-image: url("../assets/photos/contact-page-bg.jpg");
}

.parallax-spacer {
    height: 200px;
}

.parallax-content {
    height: auto;
    background-color: rgba(42,42,42,.9);
    text-align: center;
}

.jumbotron {
    margin-bottom: 0;
}