html {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
}

.parallax {
    min-height: 100vh;
    height: 100%;    
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.parallax-home {
    background-image: url("../assets/photos/architects-plans.jpg");
}

.parallax-contact {
    background-image: url("../assets/photos/contact-page-bg.jpg");
}

.parallax-success {
    background-image: url("../assets/photos/success-page-bg.jpg");
}

.parallax-services {
    background-image: url("../assets/photos/service-page-bg.jpg");
}

.parallax-testimonials {
    background-image: url("../assets/photos/testimonial-page-bg.jpg");
}

.parallax-spacer {
    height: 200px;
}

.parallax-spacer-small {
    height: 50px;
}

.parallax-spacer-medium {
    height: 100px;
}


.parallax-content {
    height: auto;
    background-color: rgba(42,42,42,.9);
    text-align: center;
}

.jumbotron {
    margin-bottom: 0;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 1.5em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.5em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.1em;
    }
}

 /* iPad Parallax bg fix */
 
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
    .x-section.bg-image.parallax, .x-section.bg-pattern.parallax {
   background-attachment:scroll !important;
      background-size: cover;
      height: 100%;
      overflow: hidden;
    
  }
  }

